In [38]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [ ]:
# Question 1: Diet Type and Exercise Type on Weight Loss
data_q1 = {
    'Diet': ['Diet 1'] * 6 + ['Diet 2'] * 6 + ['Diet 3'] * 6,
    'Exercise': ['No Exercise'] * 2 + ['Cardio'] * 2 + ['Strength'] * 2 +
                ['No Exercise'] * 2 + ['Cardio'] * 2 + ['Strength'] * 2 +
                ['No Exercise'] * 2 + ['Cardio'] * 2 + ['Strength'] * 2,
    'WeightLoss': [1, 4, 3, 2, 5, 4, 2, 5, 4, 1, 6, 4, 1, 6, 3, 3, 5, 6]
}

df_q1 = pd.DataFrame(data_q1)

# Perform Two-Way ANOVA
model_q1 = ols('WeightLoss ~ C(Diet) + C(Exercise) + C(Diet):C(Exercise)', data=df_q1).fit()
anova_table_q1 = sm.stats.anova_lm(model_q1, typ=2)


anova_table_q1

Question 1 - Two-Way ANOVA Results:
                        sum_sq   df         F    PR(>F)
C(Diet)               2.111111  2.0  0.322034  0.732690
C(Exercise)          18.111111  2.0  2.762712  0.116014
C(Diet):C(Exercise)   0.555556  4.0  0.042373  0.995951
Residual             29.500000  9.0       NaN       NaN

In [40]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Question 2: Study Hours for Students A, B, C, D across Days
data_q2 = {
    'Student': ['A', 'B', 'C', 'D'] * 3,
    'Day': ['Monday'] * 4 + ['Tuesday'] * 4 + ['Wednesday'] * 4,
    'StudyHours': [2, 3, 4, 5, 4, 5, 6, 7, 6, 7, 8, 9]
}

# Convert to DataFrame
df_q2 = pd.DataFrame(data_q2)


# Perform Two-Way ANOVA (without interaction term if data is insufficient)
model_q2 = ols('StudyHours ~ C(Student) + C(Day)', data=df_q2).fit()

# Perform ANOVA
anova_table_q2 = sm.stats.anova_lm(model_q2, typ=2)

# Display Results
anova_table_q2

                  sum_sq   df             F        PR(>F)
C(Student)  1.500000e+01  3.0  7.420394e+29  4.283090e-89
C(Day)      3.200000e+01  2.0  2.374526e+30  2.016661e-90
Residual    4.042912e-29  6.0           NaN           NaN

In [41]:
import numpy as np

# Generate synthetic data by adding variability
np.random.seed(42)
data_q3_extended = {
    'Product': ['A'] * 9 + ['B'] * 9 + ['C'] * 9,
    'Method': ['Method 1', 'Method 2', 'Method 3'] * 9,
    'Sales': [2500, 2300, 2400, 2200, 2100, 2150, 2300, 2200, 2250] * 3
}

# Add random noise to Sales
data_q3_extended['Sales'] = [
    sale + np.random.randint(-100, 100) for sale in data_q3_extended['Sales']
]

# Create DataFrame
df_q3_extended = pd.DataFrame(data_q3_extended)

# Perform Two-Way ANOVA with interaction term
model_q3_ext = ols('Sales ~ C(Product) + C(Method) + C(Product):C(Method)', data=df_q3_extended).fit()
anova_table_q3_ext = sm.stats.anova_lm(model_q3_ext, typ=2)

# Print Results
print("Question 3 - Two-Way ANOVA Results with Synthetic Data:")
anova_table_q3_ext

Question 3 - Two-Way ANOVA Results with Synthetic Data:

                             sum_sq    df         F    PR(>F)
C(Product)              1965.407407   2.0  0.052476  0.949022
C(Method)             119371.629630   2.0  3.187210  0.065320
C(Product):C(Method)    3126.814815   4.0  0.041743  0.996381
Residual              337080.000000  18.0       NaN       NaN

In [42]:
# Question 4: Temperature and Humidity on Plant Growth
data_q4 = {
    'Temperature': ['Low'] * 6 + ['Medium'] * 6 + ['High'] * 6,
    'Humidity': ['Low', 'Medium', 'High'] * 6,
    'Growth': [5, 6, 7, 7, 8, 10, 6, 7, 8, 8, 9, 11, 8, 9, 10, 10, 11, 13]
}

df_q4 = pd.DataFrame(data_q4)

# Perform Two-Way ANOVA
model_q4 = ols('Growth ~ C(Temperature) + C(Humidity) + C(Temperature):C(Humidity)', data=df_q4).fit()
anova_table_q4 = sm.stats.anova_lm(model_q4, typ=2)

print("Question 4 - Two-Way ANOVA Results:")
anova_table_q4

Question 4 - Two-Way ANOVA Results:
                                  sum_sq   df             F    PR(>F)
C(Temperature)              2.800000e+01  2.0  4.941176e+00  0.035632
C(Humidity)                 1.900000e+01  2.0  3.352941e+00  0.081623
C(Temperature):C(Humidity)  3.050262e-29  4.0  2.691408e-30  1.000000
Residual                    2.550000e+01  9.0           NaN       NaN